.card--wrapper {

  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  padding: 2vw;
  justify-content: center;
  // overflow: hidden;
  color: var(--primaryColor);
  gap: 1rem;
}