html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100dvh;
}

a:-webkit-any-link {
  text-decoration: none !important;
  color: var(--primaryColor);
}

body {
  color: var(--primaryColor);
  background: var(--lightContrast);
}

main {
  padding-inline: calc((100vw - min(80vw, 75ch)) / 2);
}